* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', serif;
}

:root {
    --yb-yellow: #F2D98C;
    --yb-brown: #3E2C23;
    --yb-white: #F8F5F0;
    --yb-green: #8A994F;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--yb-white);
}


.header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 10;
    filter: drop-shadow(0 4px 6px rgba(62, 44, 35, 0.5));
}

header {
    width: 100%;
    min-height: 80px;
    height: auto;
    background-color: var(--yb-brown);
    padding: 10px 20px 20px;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .logo-header {
        width: 84px;
        height: auto;
        filter: drop-shadow(0 2px 4px var(--yb-yellow));
    }
    
    path {
        fill: var(--yb-yellow);
    }
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-section {
    padding-top: 0px;
    height: auto;
    width: 100%;
}

main {
    background-color: var(--yb-white);

    h1 {
        font-family: 'Tangerine', cursive;
        font-size: 2.3rem;
        line-height: 1;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--yb-brown);
    }
    
    .salao-aquarela {
        width: 100%;
        min-height: 85vh;
        height: auto;
        margin-bottom: 20px;
    }

    .second-section {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            text-align: center;
            margin-bottom: 0;
            background: var(--yb-brown) linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%) 0 0 no-repeat;
            background-size: 200px;
            -webkit-background-clip: text;
            background-clip: text;
            animation: shine 3s infinite;
            color: rgba(146, 125, 20, 0.3);
            font-weight: 600;
            text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        }

        h2 {
            font-size: 1rem;
            margin: 0 auto 20px;
            text-align: center;
            color: var(--yb-brown);
        }

        p {
            font-size: 1.5rem;
            font-weight: 300;
            color: var(--yb-brown);
            text-align: center;
            margin-bottom: 20px;
        }

        .relogio-img {
            fill: var(--yb-white);
            path {
                fill: var(--yb-white);
            }
        }
    }

    .third-section {
    }

    .fourth-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h2 {
            font-size: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 12px;
            border-radius: 2px;
            background-color: var(--yb-brown);
            padding: 0 5px;
            width: fit-content;
            margin: 0 auto;
            color: var(--yb-white);
        }

        .relogio-img {
            path {
                fill: var(--yb-brown);
            }
        }
        .period {
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 12px;

            .linha-img {
                margin: 0;
                width: 100%;
                height: auto;
            }
            h3 {
                font-size: 1rem;
                font-weight: 600;
                color: var(--yb-green);
            }
            p {
                font-size: 0.8rem;
                line-height: 0.78rem;
                color: var(--yb-brown);
                margin-bottom: 20px;
            }	
        }	
    }
}

@keyframes shine {
    0%, 10% {
        background-position: -1000px;
    }
    20% {
        background-position: top left;
    }
    90% {
        background-position: top right;
    }
    100% {
        background-position: 1000px;
    }
}